{% extends 'news/base.html' %}
{% load static %}
{% block title %}Foydalanuvchi parolini tiklash{% endblock title %}

{% block content %}
<h1>parolni tiklash</h1>
<p>Parolingizni o'zgartirish uchun, quyidagi linkni bosing</p>
{% if validlink %}

<p>iltimos yangi parolni ikki marta kiriting</p>
<form action="" method="post">{% csrf_token %}
{{form.as_p}}
<p>
<button type="submit">Parolni almashtirish</button></p>
</form>
{% else %}
<p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatlish vaqti o'tib ketan bo'lishi mumkin</p>
{% endif %}



{% endblock content %}