{% extends 'news/base.html' %}
{% load static %}
{% block title%} Mahalliy yangiliklar {% endblock title %}

{% block content %}

{% for mahalliy in mahalliy_yangiliklar %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="{{mahalliy.get_absolute_url}}"> <img src="{{mahalliy.image.url}}" alt="{{mahalliy.title}}" style="width:50%"></a>
        </div>
        <div class="col-sm-8">
            <a href="{{sport.get_absolute_url}}"><h3>{{mahalliy.title}}</h3></a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}