{% extends 'news/base.html' %}
{% load static %}
{% block title%} Xorij yangiliklar {% endblock title %}

{% block content %}

{% for xorij in xorij_yangiliklari %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="{{xorij.get_absolute_url}}">
            <img src="{{xorij.image.url}}" alt="{{xorij.title}}" style="width:50%">
            </a>
        </div>
        <div class="col-sm-8">
            <a href="{{xorij.get_absolute_url}}"><h3>{{xorij.title}}</h3></a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}